body {
    margin : 0px;
    padding : 0px;
    font-size : 12px;	
    }
    
    #header {
    background-color : black;
    font-style : forte;
    color : white;
    padding : 5px;
    font-size: 150%;
    }
    #header h1{
    margin-right : 50px;
    }
    
    #navbar{
    background-color : black;
    color : white;
    padding : 5px;
    }
    
    #navbar ul{
        background-color : black;
        list-style-type: none;
        font-size: 150%;
        
    }
    #navbar ul li{
        display : inline;
    }
    
    #navbar ul li a{
    text-decoration : none;
    color : white;
    padding : .2em 1em;
    }
    #navbar ul li a:hover{
    background-color : rgb(228,174,165);
    color:red;
    }
    #footer {
        background-color : black;
        color : white;
        padding:5px;
        height:150px;
        }
        #sub{
        background-color : black;
        color : white;
        float:left;
        width:470px;
        
        font-size: 150%;
        //margin:10px;
        margin-left:40px;
        padding:5px;
        }
        #sub2{
        background-color : black;
        color : white;
        float:left;
        width:470px;
        
        font-size: 150%;
        //margin:10px;
        margin-left:40px;
        padding:5px;
        }
        #sub3{
        background-color : black;
        color : white;
        float:left;
        width:405px;
        
        font-size: 150%;
        //margin:10px;
        margin-left:40px;
        padding:5px;
        }
        #footer2 {
        background-color : black;
        color : white;
        padding:5px;
        }
